<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type='text/css' href="../style/style.css">
  <title>Blissmap - Home</title>
  <script src="/scripts/geolocation.js"></script>
</head>
<body>
<nav>
  <h1>Blissmap</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/search">Search</a></li>
  </ul>
</nav>

<div class="content">
  <form action="/performSearch" method="get">
    <label for="latitude">Latitude:</label>
    <input type="text" id="latitude" name="latitude" required>

    <label for="longitude">Longitude:</label>
    <input type="text" id="longitude" name="longitude" required>
    <label for="radius" id="sliderValue">Search radius</label>
    <input type="range" min="100" max="10000" value="100" class="slider" id="radius" name="radius" oninput="updateSliderValue(this.value)">

    <button type="submit">Search Spas</button>
  </form>
  <button onclick="getLocation()">Get My Location</button>
</div>

<script>
  // Met à jour le champ indiquant le rayon choisi par l'utilisateur
  function updateSliderValue(value) {
    document.getElementById('sliderValue').innerText = 'Search radius: ' + value + ' m';
  }
</script>
</body>
</html>